@charset "UTF-8";
h3 {
    font-size: 1.17em;
    font-weight: bold;
}
	
a {
	color:black;
}

.sectionmy h2 {
    font-size: 1.5em;
    font-weight: bold;
}

.sectionmy div {
	width:70%;
}

#fontpw1, #fontpw2 {
	display:block;
	font-size:13px;
	margin-left:10px;
	height:30px;
}
.blank {
	height:30px;
}


